
.hide {
    pointer-events: none;
    opacity: 0;
}



label.navigation-toggle {
    cursor: pointer;
    margin-top: 0em;
    background: lightgray;
    font-size: 1.8rem;
    color: var(--font-color);
    font-family: var(--font-header);
    /*text-align: center;*/
    transform: translateY(0%);
    display: none;
    width: 100%;
    padding-left: var(--margin-article);
}



aside,
a,
header img,
label.navigation-toggle,
img,
main,
.flex-container {
    transition: all 0.4s ease;
}



@keyframes slidein {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(calc(2 * 100vh));
    }
    100% {
        transform: translateY(calc(2 * 100vh));
        min-width: 0;
        width: 0;
    }
}





article img:focus {
    outline-style: none;
}

@media all and (max-width: 960px) {
    html {
        overflow-x: hidden;
        font-size: 16px;
    }

    .flex-container {
        justify-content: flex-start;
        width: 100%;
        padding: 0;
    }
    aside {
        transform: translateX(-100%);
        max-width: 50%;
        min-width: 50%;
        width: 50%;
        margin: 0;
        padding: 0;
    }
    main {
        transform: translateX(-50%);
        display: block;
        min-width: 100%;
    }

    nav {
        margin-top: 2.5rem;
    }
    label.navigation-toggle {
        display: block;
    }
    #navigation-toggle:checked ~ aside {
        transform: translateX(0%);
    }
    #navigation-toggle:checked ~ aside ~ main {
        transform: translateX(0%);
        filter: opacity(0.4);
        pointer-events: none;
    }
    #navigation-toggle:checked ~ aside ~ main label.navigation-toggle {
        opacity: 0
    }
    #navigation-toggle:not(:checked) ~ aside label.navigation-toggle {
        opacity: 0;
    }
}

