@charset "UTF-8";
@viewport {
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/@viewport/ */
        orientation: auto;
        user-zoom: zoom;
    }

    :root {
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables */
        --font-color: #191e28;
        --font-color-gray: #3d3d3d;
        --font-size: 18px;
        --font-size-h1: 2.4rem;
        --font-size-h2: 2.0rem;
        --font-size-h3: 1.47rem;
        --font-size-h4: 1.22rem;
        --font-size-h5: .83rem;
        --font-size-site-header: 3.5rem;
        --font-header: 'Blogger Sans', sans-serif;
        --font-article: 'Noto Sans', sans-serif;
        --link-color: #0074d9;
        --main-shadow: 0px 0px 50px -3px rgba(196, 196, 196, 0.27);
        --margin-article: 2rem;
    }

    /* start link */
    a:link:hover,
    a:visited:hover {
        background: #d8edff;
    }

    a:link:active,
    a:visited:active {
        background: #bee2ff;
    }

    a:link,
    a:visited {
        color: var(--font-color);
        text-decoration: none;
        border-bottom-style: solid;
        border-bottom-color: var(--link-color);
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    a[href^="#"]:link,
    a[href^="#"]:visited {
        border-bottom-color: #00aad9;
    }

    a[href^="mailto:"]:link,
    a[href^="mailto:"]:visited {
        border-bottom-color: #ffa349;
    }

    a[href^="mailto:"]:link:hover,
    a[href^="mailto:"]:visited:hover {
        background: #ffd7b0;
    }

    nav a:link:hover,
    nav a:visited:hover {
        padding-left: 0.6rem;
        background: rgba(0, 0, 0, 0);
    }
    /* end link */

    html,
    body {
        font-size: var(--font-size);
        line-height: 1.5;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: #f6f6f6;
        font-family: var(--font-article);
    }

    body > header {
        background-color: #ffe97c;
        height: 6rem;
        color: white;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    body > header > * {
        width: auto;
        height: inherit;
        margin-left: 1rem;
        filter: drop-shadow(3px 3px rgba(68, 68, 68, 0.87)) drop-shadow(0px 0px 40px rgba(255,255,255, 0.87));
    }

    body > header > h1 {
        font-size: var(--font-size-site-header);
        text-transform: uppercase;
        margin-top: 0.24em;
    }

    /* start header */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-header);
        font-weight: normal;
    }

    h1 {
        font-size: var(--font-size-h1);
        line-height: 1.3;
    }

    h2 {
        font-size: var(--font-size-h2);
        margin-top: 3rem;
        margin-bottom: 0;
    }

    h3 {
        font-size: var(--font-size-h3);
        margin-top: 2rem;
        margin-bottom: 0;
    }

    h4 {
        font-size: var(--font-size-h4);
    }

    h5 {
        font-size: var(--font-size-h5);
    }

    h6 {
        font-size: var(--font-size-h6);
    }
    /* end header */

    .hide {
        pointer-events: none;
        opacity: 0;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding-top: 1rem;
        align-items: stretch;
        position: relative;

    }

    #navigation-toggle {
        display: none;
    }

    label.navigation-toggle {
        cursor: pointer;
        height: 3.1rem;
        margin-left: 1rem;
        margin-top: -1.2em;
        background: #ffd37c;
        border-radius: 3em;
        padding: 0 0.5em;
        font-size: 1.7rem;
        color: #333;
        font-family: var(--font-header);
        text-align: center;
        line-height: 3.2rem;
        transform: translateY(0%);
        position: fixed;
        display: none;
        text-transform: uppercase;
    }

    nav {}

    nav ul {
        margin-bottom: 0.9rem;
        font-family: var(--font-header);
        font-size: calc(var(--font-size-h3) + 0.4rem);
        list-style-type: none;
        padding-left: 1.3rem;
    }

    nav ul ul > li {
        margin-bottom: 0.6rem;
        font-family: var(--font-article);
        font-size: var(--font-size);
        font-weight: bold;
        word-wrap: break-word;
    }

    aside,
    a,
    header img,
    label.navigation-toggle,
    img,
    main,
    .flex-container {
        transition: all 0.4s ease;
    }

    main {
        width: 50%;
        box-shadow: var(--main-shadow);
        background-color: #fdfcfc;
        min-height: calc(100vh - 6rem - 50px);
    }

    aside {
        margin-right: 0.7rem;
        background-color: #fdfcfc;
        overflow-y: visible;
        width: 15%;
        max-width: 17rem;
        min-width: 13rem;
        height: auto;
        box-shadow: var(--main-shadow);
    }

    @keyframes slidein {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(calc(2 * 100vh));
        }
        100% {
            transform: translateY(calc(2 * 100vh));
            min-width: 0;
            width: 0;
        }
    }

    article {
        margin-left: var(--margin-article);
        margin-right: var(--margin-article);
        margin-bottom: calc(2 * var(--margin-article));
        counter-reset: section;
    }

    main > mark,
    mark.alert {
        display: block;
        padding: 1.2rem var(--margin-article);
    }

    mark.alert {
        margin: 0 calc(0rem - var(--margin-article));
    }

    article h2::before {
        counter-increment: section;
        content: counter(section) " - ";
    }

    img,
    video,
    audio,
    table {
        width: 100%;
        display: block;
    }

    article img:focus {
        outline-style: none;
    }

    article > header > img {
        border-radius: 50%;
        float: left;
        width: auto;
        height: 3.5rem;
        margin-right: 0.8rem;
        cursor: pointer;
    }

    article > header > img:hover {
        height: 6rem;
        margin-right: 1.4rem;
    }

    article header {
        overflow: hidden;
        margin-bottom: 2rem;
    }

    article header span {
        font-weight: bold;
    }

    .top {
        height: 6rem;
        background: #ffe97c;
        width: 100%;
    }

p {
    text-align: justify;
}
p:target {
        border-right-style: solid;
        border-right-color: var(--link-color);
    }

    figure,
    blockquote {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2.3rem;
        padding: 0;
    }

    figcaption {
        text-align: right;
    }

    pre {
        margin: 0;
        padding: 0;
        white-space: pre-wrap;
    }

    mark {
        background: #ffe97c;
    }

    del {
        background: #ff9663;
    }

    ins {
        background: #daf79e;
        text-decoration: none;
        font-style: oblique;
    }

    abbr {
        text-decoration: underline dotted var(--font-color);
        cursor: help;
    }

    code,
    var {
        font-size: calc(var(--font-size) - 2px);
    }

    code {
        background: #f5f2f0;
    }

    code,
    mark,
    blockquote,
    cite,
    del,
    ins {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    code {
        padding-top: 0.2rem;
        padding-bottom: 0.1rem;
        overflow-y: auto;
        overflow-x: auto;
    }

    abbr {
        text-decoration-style: dotted;
    }

    div.scrollview {
        display: flex;
        align-content: flex-start;
        overflow-x: scroll;
        margin-left: 0;
        margin-right: 0;
    }

    figure img:not(:only-of-type) {
        display: block;
        max-height: 500px;
    }

    figure code {
        display: block;
        width: auto;
        max-width: 100%;
    }

    figure code,
    blockquote {
        padding: 1.2rem 1rem 1.2rem 2.5rem;
    }

    code + figcaption,
    pre + figcaption {
        font-family: monospace;
        font-size: calc(var(--font-size) - 2px);
    }

    figcaption {
        display: block;
        width: auto;
        max-width: 100%;
        margin: 0;
        padding: 0.3rem 1rem 0.3rem 0;
        background: #ede8e4;
    }

    blockquote {
        font-size: calc(var(--font-size) + 0.5px);
        color: var(--font-color-gray);
        font-style: italic;
    }

    blockquote:before {
        font-size: calc(var(--font-size) + 0.5px);
        color: var(--font-color-gray);
        content: open-quote;
        padding-right: 0.5rem;
    }

    blockquote:after {
        font-size: calc(var(--font-size) + 0.5px);
        color: var(--font-color-gray);
        content: close-quote;
        padding-left: 0.5rem;
    }

    blockquote,
    cite {
        background: #efeafa;
    }

    /* start table */
    table {
        display: block;
        width: 100%;
    }

    tr:nth-child(even) {
        background: #f8eded;
    }

    tr:nth-child(odd) {
        background: #f5f2f0;
    }

    td:first-child {
        width: 30%;
    }

    td:nth-child(2) {
        width: 70%;
        display: block;
    }
    /* end table*/

    /* start language */
    html:lang(en) header h1:not(:lang(en)),
    html:lang(en) aside *:not(:lang(en)),
    html:lang(en) article h1:not(:lang(en)),
    html:lang(en) *:not(:lang(en))[data-lang-localized="true"] {
        display: none;
    }

    html:lang(sv) header h1:not(:lang(sv)),
    html:lang(sv) aside *:not(:lang(sv)),
    html:lang(sv) article h1:not(:lang(sv)),
    html:lang(sv) *:not(:lang(sv))[data-lang-localized="true"] {
        display: none;
    }
    /* end language */

    @media all and (min-width: 2200px) {
        main {
            max-width: 1000px;
        }
    }

    @media all and (max-width: 1700px) {
        main {
            width: 810px;
        }
    }

    @media all and (max-width: 1100px) {
        html {
            overflow-x: hidden;
        }
        body > header {
            height: 5.5rem;
            display: flex;
            justify-content: center;
        }
        body > header > h1 {
            font-size: calc(var(--font-size-site-header) - 0.5rem);
            margin-top: 0.95rem;
        }
        .flex-container {
            justify-content: flex-start;
            width: 100%;

        }
        aside {
            transform: translateX(-100%);
            max-width: 50%;
            min-width: 50%;
            width: 50%;
            margin: 0;
            min-height: calc(100vh - 5.5rem);
        }
        main {
            transform: translateX(-50%);
            display: block;
            min-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        
        nav {
            margin-top: 2.5rem;
        }
        label.navigation-toggle {
            display: block;
        }
        #navigation-toggle:checked ~ aside {
            transform: translateX(0%);
        }
        #navigation-toggle:checked ~ aside ~ main {
            transform: translateX(0%);
            filter: opacity(0.4);
            pointer-events: none;
        }
        #navigation-toggle:checked ~ aside ~ main label.navigation-toggle {
            opacity: 0
        }
        #navigation-toggle:not(:checked) ~ aside label.navigation-toggle {
            opacity: 0;
        }
    }

    @media all and (max-width: 750px) {
        html {
            font-size: calc(var(--font-size) - 2px);
        }
        figure,
        blockquote {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        article,
        main > mark {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        body > header > h1 span {
            display: none;
        }
    }

    .no-script::before {
      content: "No Javascript is activated, so this page may behave a bit funky...";
    }
