<article data-author-id="monkcs" lang="sv">
    <script src="/javascript/shellcheck.js"></script><noscript><meta charset="UTF-8"><link rel="stylesheet" type="text/css" href="/css/style.css" /></noscript>
    <header>
        <h1 lang="sv">Titel på post</h1>
        <h1 lang="en">Title of post</h1>
        <img src="/graphics/authors/charlie-habolin.jpg" loading="lazy"> <span>Charlie Habolin</span>
        <br/>
        <time datetime="2001-05-15T19:00+01:00">15 maj 2001. 19:00</time>
    </header>
    <p>Inledning av post</p>

    <footer>
        <address>
            Kontakta mig på <a href="mailto:charlie.habolin@monkcs.se?subject=citroner.blog - ">charlie.habolin@monkcs.se</a> om du har någon fråga!
        </address>
    </footer>
</article>
