<script src="/javascript/shellcheck.js"></script>
<article><figure> <img src="charlieshue--no-caching.jpg" alt="Färdigställd arduinoproject som styrs via wifi" />
    <figcaption>Färdigställd arduinoproject som styrs via wifi</figcaption>
</figure>
<figure>
    <video loop muted autoplay>
        <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.webm" type="video/webm">
        <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">
        </video>
    <figcaption>Ett ljudklipp</figcaption>
</figure>
<figure>
    <audio src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" controls loop> </audio>
    <figcaption>En video</figcaption>
</figure>
<code>Inline kod <var>variabel</var> = "värde";</code>
<figure> <pre><code data-language="csharp">public static void Main()
{
    System.Console.WriteLine("Block kod");
}</code></pre>
    <figcaption>HelloWorld.cs</figcaption>
</figure>
<a href="https://ddg.gg" target="_blank" >Länk</a><a href="mailto:charlie.habolin@monkcs.se">charlie.habolin@monkcs.se</a>
<blockquote cite="https:/google.com">Block citat</blockquote>
<cite>Inline citat</cite>
<ins>Infogad ny text</ins>
<del>Borttagen text</del>
<mark>Mycket viktig text</mark>
<i>Italic</i>
    <strong>Strong</strong>
<em>EM</em>
<b>Bold</b>
<s>Genomstruken</s><br/>
Mattetal<sup>2.57<var>x</var></sup>
<p id="testa">
    dsadsa
    dsa
    dsa
    ds
    ads
    ad
    sadcsfhdkjalfhdsakjlfhdskjalhfdkjl fhaskjlhfdkjslhfkjshlafkjhsafkjldshafjkdlshajfdshjf <a href="tags.html">dsadsa</a>kdlshfjkdshlafjdkslhafjfdsafdsfdsa</p>
<small>Liten text, till exempel det finskrivna</small>
Ett<wbr>Långt<wbr>Ord<wbr>Som<wbr>Är<wbr>Uppdelnings<wbr>bart <br/>
<abbr title="Red Green Blue">rgb</abbr>
</article>
