@charset "UTF-8";
@font-face {
    font-family: 'Kollektif';
    src: url('kollektif-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kollektif';
    src: url('kollektif-bold-italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kollektif';
    src: url('kollektif-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kollektif';
    src: url('kollektif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
