@charset "UTF-8";
@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Bold'), url('noto-sans-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Bold Italic'), url('noto-sans-bold-italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans Italic'), url('noto-sans-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: local('Noto Sans'), url('noto-sans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
